# Dependencias
node_modules/

# Expo / Metro
.expo/
dist/
web-build/

# React Native / Metro caches
.metro-health-check*
metro-cache/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno locales
.env
.env.local
.env.*.local